html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

img,
svg {
    vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.3;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset styles */
:root {
    --primary: #fff;
    --black: #000;
    --black-transparent: rgba(0, 0, 0, 0.45);
    --white: #fff;
    --gray: #a2a2a2;
    --grayBCBCBC: #BCBCBC;
    --light-gray: #f2f2f2;
    --light-gray-transparent: #FFFFFF5D;
    --light-gray--bg: #f5f5f5;
    --blue: #117af5;
    --blue--dark: #217AF5;
    --yellow: #FEBA32;
    --green: #119800;
    --orange: #F55221;
    --dark: #191919;
    --gray-dark: #191919;
    --gray313131: #313131;
}

a,
button,
.pointer {
    cursor: pointer;
}

strong {
    font-weight: bold;
}

body {
    color: var(--black);
    font-size: 16px;
    box-sizing: border-box;
    font-family: "articulat-cf", Arial, Helvetica, sans-serif;
}

* {
    transition: all 0.3s;
    box-sizing: border-box;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.rounded25 {
    border-radius: 25px;
}

.rounded35 {
    border-radius: 35px;
}

.overflow-hidden {
    overflow: hidden;
}

.nohover {}

.p2 {
    padding: 2rem;
}

.px6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py2 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.py32 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p25_33 {
    padding: 25px 33px;
}

.p30_33 {
    padding: 30px 33px;
}

.p16_20 {
    padding: 16px 20px;
}

.p20 {
    padding: 1.25rem;
}

.p28 {
    padding: 1.75rem;
}

.mr16 {
    margin-right: 1rem;
}

.mr30 {
    margin-right: 1.875rem;
}

@media (min-width: 968px) {
    .mr111 {
        margin-right: 111px;
    }
}

.ml16 {
    margin-left: 1rem;
}

.mb6 {
    margin-bottom: 0.375rem;
}

.mb7 {
    margin-bottom: 0.4375rem;
}

.mb8 {
    margin-bottom: 0.5rem;
}

.mb12 {
    margin-bottom: 0.75rem;
}

.mt16 {
    margin-top: 1rem;
}

.mt25 {
    margin-top: 1.563rem;
}

.mb18 {
    margin-bottom: 18px;
}

.mb20 {
    margin-bottom: 1.25rem;
}

.mb22 {
    margin-bottom: 1.375rem;
}

.mb25 {
    margin-bottom: 1.563rem;
}

.mb31 {
    margin-bottom: 1.938rem;
}

.mb48 {
    margin-bottom: 3rem;
}

.g32 {
    gap: 32px;
}

.image {
    max-width: 100%;
    height: auto;
}

.bottom-rounded-corner {
    border-radius: 0 0 32px 32px;
}

.position-absolute--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-relative {
    position: relative;
}

.ls1_2 {
    letter-spacing: 1.2px;
}

.text-center {
    text-align: center;
}

.text-heading--h1 {
    font-size: clamp(2.3125rem, 2.1213rem + 0.956vw, 2.9375rem);
    line-height: 1;
}

.text-heading {
    font-size: clamp(1.375rem, 1.1838rem + 0.956vw, 2rem);
    line-height: 1;
}

.text-subheading {
    font-size: clamp(1rem, 0.9235rem + 0.3824vw, 1.25rem);
    line-height: 1;
}

.text-title {
    font-size: clamp(1.625rem, 1.4338rem + 0.956vw, 2.25rem);
    line-height: 1.33;
}

.text-xl {
    font-size: clamp(1rem, 0.9235rem + 0.3824vw, 1.25rem);
    line-height: 1.5;
}

.text20 {
    font-size: 1.25rem;
    line-height: 1.33;
}

.text-lg {
    font-size: 1.625rem;
    line-height: 1.33;
}

.text-small12 {
    font-size: 0.75rem;
    line-height: 1.33;
}

.text-small {
    font-size: 0.875rem;
    line-height: 1.33;
}

.subtext {
    font-size: clamp(0.875rem, 0.8176rem + 0.2868vw, 1.0625rem);
    line-height: 1.29;
}

.text-bold {
    font-weight: bold;
}

.text-medium {
    font-weight: 500;
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

.text-black-transparent {
    color: var(--black-transparent);
}

.text-gray {
    color: #00000072;
}

.text-grayBCBCBC {
    color: var(--grayBCBCBC);
}

.text-gray-transparent {
    color: var(--light-gray-transparent);
}

.text-blue {
    color: var(--blue);
}

.text-green {
    color: var(--green);
}

.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-gray {
    background-color: var(--light-gray--bg);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
}

.bg-gray313131 {
    background-color: var(--gray313131);
}

.btn {
    display: flex;
    width: fit-content;
    cursor: pointer;
}

.btn-normal {
    padding: 16px 33px;
    border-radius: 32px;
    font-size: 1.125rem;
    line-height: 1.33;
    font-weight: bold;
    text-align: center;
}

.btn-transparent {
    padding: 16px 33px;
    border-radius: 32px;
    font-size: 1.125rem;
    line-height: 1.33;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--white);
}

.btn-collapsed {
    padding: 14px 132px;
    border-radius: 32px;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
}

.btn-sm {
    padding: 14px 54px;
    border-radius: 32px;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
}

.btn-center {
    display: block;
    margin: 0 auto;
}

.btn-primary {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}

.btn-primary:hover {
    background: transparent;
    color: var(--blue);
}

.btn-orange {
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--orange);
}

.btn-orange:hover {
    background: transparent;
    color: var(--orange);
}

.btn-white {
    background-color: var(--white);
    border: 1px solid var(--white);
}

.btn-white:not(.nohover):hover {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-green {
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
}

.btn-green:hover {
    background: transparent;
    color: var(--green);
}

.btn-app {
    min-width: 145px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
    gap: 10px;
}

.btn-rounded {
    border-radius: 15px;
}

.btn-gradient-blue {
    background: linear-gradient(180deg, #25B4F0 0%, #267ADF 100%) 0% 0% no-repeat padding-box;
    color: var(--white);
    border: none;
    text-wrap: nowrap;
}

.btn-gradient-black {
    background: linear-gradient(180deg, #3B3B3B 0%, #000000 100%) 0% 0% no-repeat padding-box;
    color: var(--white);
    border: none;
    text-wrap: nowrap;
}

.btn-wide {
    min-width: 320px;
}

.highlight {
    color: var(--blue);
}

.highlight--dark {
    color: var(--blue--dark);
}

.highlight--green {
    color: var(--green);
}

.header {
    background-color: var(--white);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
}

.navigation,
.menu,
.navbar-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    padding: 2rem 13px;
}

nav a {
    position: relative;
}

.menu a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--gray);
    transition: width 0.3s;
    position: absolute;
    bottom: -10px;
}

.menu a:hover:after {
    width: 100%;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.navbar-toggler {
    width: 59px;
    height: 59px;
    padding: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    flex-direction: column;
}

.menu-mobile:not(.active) {
    display: none;
}

.navbar-toggler span {
    width: 20px;
    height: 4px;
    min-height: 4px;
    background-color: var(--gray);
}

.navbar-toggler span:not(:first-child):not(:last-child) {
    margin: 4px 0;
}

.navbar-toggler.active span:first-child {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    width: 28px;
}

.navbar-toggler.active span:last-child {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    width: 28px;
}

.navbar-toggler.active span:not(:first-child):not(:last-child) {
    display: none;
}

.appgrid {
    background-color: var(--light-gray--bg);
    padding: 656px 0 72px;
    position: relative;
}

.appgrid .container {
    position: relative;
    z-index: 10;
}

.logos .container {
    position: relative;
}

.logos .container .spacer-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0.00%, #ffffff 100.00%);
    width: 20%;
    transform: rotate(180deg);
}

.logos .container .spacer-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0.00%, #ffffff 100.00%);
    width: 20%;
}

.logos .columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
    overflow: hidden;
}

.guides {
    background-color: var(--light-gray--bg);
}

.guides .container {
    position: relative;
}

.guides--head {
    padding: 2rem 40% 2rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--light-gray--bg);
}

@media (max-width: 768px) {
    .guides--head {
        padding: 2rem;
    }
}

.guides--head-icon-blue {
    width: 71px;
    height: 71px;
    border-radius: 17px;
    background: var(--blue--dark);
    background: linear-gradient(180deg,
            #217af5 0.00%,
            #0047aa 100.00%);
    box-shadow: 0px 4px 9px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.guides--head-icon-green {
    width: 71px;
    height: 71px;
    border-radius: 17px;
    background: var(--green);
    background: linear-gradient(180deg,
            #3ED12C 0.00%,
            #009311 100.00%);
    box-shadow: 0px 4px 9px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.guides--head-icon-orange {
    width: 71px;
    height: 71px;
    border-radius: 17px;
    background: var(--orange);
    background: linear-gradient(180deg, #F58B21 0%, #D14000 100%));
    box-shadow: 0px 4px 9px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

@media (max-width: 968px) {

    .guides--head-icon-blue,
    .guides--head-icon-green,
    .guides--head-icon-orange {
        width: 48px;
        height: 48px;
        flex: 0 0 48px;
    }

    .guides--head-icon-orange img {
        width: 42px;
        height: 42px;
    }
}

.icon {
    display: inline-block;
    width: 2.25em;
    height: 2.25em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

@media (max-width: 968px) {
    .icon {
        transform: scale(.67);
    }

}

.icon-marker {
    display: inline-block;
    width: 2.25em;
    height: 2.438em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-marker-mini {
    display: inline-block;
    width: 18px;
    min-width: 18px;
    height: 21px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-building {
    width: 18px;
    min-width: 18px;
    height: 21px;
}

.icon-big {
    display: inline-block;
    width: 4.5em;
    height: 4.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-small {
    display: inline-block;
    width: 18px;
    height: 18px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 5px;
}

.icon-mail {
    width: 18px;
    min-width: 18px;
    height: 14px;
}

.icon-conversation {
    display: inline-block;
    width: 4.5em;
    height: 3.625em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link-small {
    width: 18px;
    height: 18px;
}

.icon-phone {
    width: 18px;
    height: 18px;
}

.icon-mobile {
    width: 14px;
    height: 22px;
}

.left-border {
    border-left: 8px solid var(--blue--dark);
}

.left-border-green {
    border-left: 8px solid var(--green);
}

.left-border-orange {
    border-left: 8px solid var(--orange);
}

.guides--content-blue {
    padding: 3.375rem 2rem 7rem;
    background-color: var(--blue--dark);
    position: relative;
    max-width: 95%;
}

.guides--content-green {
    padding: 3.375rem 2rem 7rem;
    background-color: var(--green);
    position: relative;
    max-width: 95%;
}

.guides--content-orange {
    padding: 3.375rem 2rem 7rem;
    background-color: var(--orange);
    position: relative;
    max-width: 65%;
}

.guides--content-blue>.content,
.guides--content-green>.content,
.guides--content-orange>.content {
    position: relative;
    z-index: 1;

}

.guides--content-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: soft-light;
}

.mix-blend-mode-soft-light {
    mix-blend-mode: soft-light;
}

.mix-blend-mode-multiply {
    mix-blend-mode: multiply;
}

.guides--text {
    padding: 2.563rem 2rem;
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 59%;
}

.guides--text p:not(:last-child) {
    margin-bottom: 1.5rem;
}

.guides--image {
    position: absolute;
    top: 0;
    right: -100px;
    width: 100%;
    height: 100%;
    max-width: 578px;
}

.solutions--image {
    position: absolute;
    top: 10px;
    right: -30px;
    width: 100%;
    height: 100%;
    max-width: 520px;
}

.guides--phones {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0 40px;
}

@media (max-width: 968px) {
    .guides--phones {
        object-position: center;
    }
}

.solutions--phones {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.application-functions {
    background-color: var(--light-gray--bg);
}

.functions--head {
    margin-bottom: 3rem;
}

.application-functions .container {
    position: relative;
    padding: 2rem 0 39px;
}



.functions--grid-item {
    box-shadow: 0px 5px 9px #00000014;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.functions--grid-item-head {
    position: relative;
    min-height: 120px;
}

.background-blue {
    background-color: var(--blue--dark);
}

.background-black {
    background-color: rgba(0, 0, 0, 0.65);
}

.background-green {
    background-color: var(--green);
}

.functions--grid-item-head-normal {
    padding: 2rem;
}

.functions--grid-item-head-small {
    padding: 1.5rem;
}

.functions--grid-item-head-icon svg {
    filter: drop-shadow(0px 3px 6px #00000029);
}

.functions--grid-item-head-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: soft-light;
}

.functions--grid-item-content-padding-nonequal {
    padding: 1.063rem 1.5rem 4.938rem;
}

.functions--grid-item-content-padding-equal {
    padding: 1.063rem 1.5rem;
}

.functions--grid-item-content-collapse {
    max-width: 54%;
}

@media (max-width: 968px) {
    .functions--grid-item-content-collapse {
        max-width: 100%;
    }

}

.functions--grid-item-head-content-title {
    font-size: 20px;
    line-height: 1.34;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 0.938rem;
}

.functions--grid-item-head-content-title-small {
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 0.938rem;
}

.functions--grid-item-head-content-text {
    font-size: clamp(1rem, 0.9618rem + 0.1912vw, 1.125rem);
    line-height: 1.33;
    color: var(--black);
}

.functions--grid-item-head-content-text-small {
    font-size: 1rem;
    line-height: 1.33;
    color: var(--black);
}

.functions--grid-item-head-content-text p:not(:last-child) {
    margin-bottom: 1.5rem;
}

.functions--grid-item-content-image {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.functions--grid-item-content-image img {
    max-width: 221px;
}

.favorites {
    background-color: var(--light-gray--bg);
}

@media (min-width: 968px) {
    .favorites .container {
        border-radius: 0 0 32px 32px;
    }
}

.favorites--columns {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1022px;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 64px;
}

.favorites--columns-item {
    box-shadow: 0px 5px 9px #0000001F;
    border-radius: 23px;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorites--columns-item-image {
    width: 80px;
    min-width: 80px;
    height: 80px;
    position: relative;
    border-radius: 16px;
    background-color: var(--light-gray);
    margin-right: 12px;
}

.favorites--columns-item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.favorites--columns-item-content {
    max-width: 186px;
    margin-right: 45px;
}

.favorites--columns-item-content-title {
    font-size: clamp(0.9375rem, 0.8419rem + 0.478vw, 1.25rem);
    line-height: 1.2;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 4px;
}

.favorites--columns-item-content-review {
    display: flex;
    align-items: center;
}

.favorites--columns-item-content-review-star {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.favorites--columns-item-content-review-star svg {
    display: inline-block;
    width: 18px;
    height: 18px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.favorites--columns-item-content-review-count {
    color: var(--yellow);
    font-size: 1.125rem;
    line-height: 1.33;
    font-weight: bold;
}

.favorites--columns-item-links {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
}

.icon-store {
    width: 14px;
    min-width: 14px;
    height: 12px;
}

.icon12 {
    display: inline-block;
    width: 12px;
    height: 12px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.travel-guides {
    background-color: var(--light-gray--bg);

}

.comparison {
    background-color: var(--light-gray--bg);
}

.comparison .container {
    padding: 2rem 0;
    background: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 32px 0px;
}


.comparison--head {
    margin-bottom: 41px;
}

.comparison--table {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    padding: 2rem 1rem;
    border: 1px solid #E3E3E3;
}

table thead th {
    background-color: var(--white);
    padding: 2rem 1rem;
    font-size: clamp(0.5625rem, 0.4095rem + 0.7648vw, 1.0625rem);
    line-height: 1.29;
    font-weight: bold;
    text-align: left;
    min-width: 70px;
}

table thead th .icon-audio {
    width: 40px;
    height: 40px;
    background-color: var(--blue--dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

table thead th .icon-marker {
    width: 40px;
    height: 40px;
    background-color: var(--green);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

table thead th:first-child {
    border-right: 1px solid #E3E3E3;
}

table thead th:last-child {
    border-left: 1px solid #E3E3E3;
}

table thead th .icon-audio svg {
    width: 21px;
    height: 21px;
}

table thead th .icon-marker svg {
    width: 22px;
    height: 24px;
}

table tbody td {
    background-color: transparent;
    padding: 14px;
    font-size: clamp(0.875rem, 0.8176rem + 0.2868vw, 1.0625rem);
    line-height: 1.29;
    font-weight: 400;
    border: 1px solid #E3E3E3;
    min-width: 70px;
}

table tbody td:nth-child(2),
table tbody td:nth-child(3) {
    padding: 14px 28px;
}

table tbody td .icon-check {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 13px;
}

.comparison-links {
    gap: 12px;
}

.comparison-links a {
    min-width: 320px;
}

.opinions {
    background-color: var(--light-gray--bg);
    padding: 2rem 0;
}

@media (max-width: 768px) {
    .opinions .subtext {
        text-align: left;
        padding: 0 24px;
    }

}

.opinions--head {
    margin-bottom: 3rem;
}

.opinions--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 0 2rem;
    max-width: 704px;
    margin: 0 auto;
}

.opinions--item {
    background: #fff;
    box-shadow: 0px 5px 9px #0000001F;
    border-radius: 23px;
    padding: 12px 13px 19px 37px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.opinions--item.reverse {
    padding: 12px 13px 19px 24px;
}

.opinions--item-image {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 12px;
    left: -27px;
    border-radius: 50%;
    background-color: var(--blue);
    margin-bottom: 1rem;
    overflow: hidden;
}

.opinions--item.reverse .opinions--item-image {
    left: auto;
    right: -27px;
}

.opinions--item.align-self-flex-end {
    align-self: flex-end;
}

.opinions--item.align-self-flex-start {
    align-self: flex-start;
}

.opinions--item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.opinions--item-content-name {
    font-size: 1.125rem;
    line-height: 1.33;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 4px;
}

.opinions--item-content-position {
    font-size: 0.813rem;
    line-height: 1.33;
    color: #989898;
    margin-bottom: 6px;
}

.opinions--item-content-text {
    font-size: 1rem;
    line-height: 1.33;
    color: var(--black);
}

.opinions--item-content-text:not(.nomargin) {
    margin-bottom: 13px;
}

.opinions--item-content-review {
    display: flex;
    align-items: center;
}

.opinions--item-content-review-count {
    color: var(--yellow);
    font-size: 0.875rem;
    line-height: 1.33;
    font-weight: 400;
}

#map-container {
    display: block;
    width: 100%;
    min-width: 527px;
    height: 100%;
}

@media (min-width: 968px) {
    .columns .col:nth-child(1) {
        width: 337px;
    }

    .navbar-toggler {
        display: none;
    }

    .functions--grid .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 0 2rem;
        margin-bottom: 3rem;
        width: calc(100% - 4rem);
    }

    .functions--grid-item:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
    }

    .functions--grid-item:nth-child(2) {
        grid-area: 1 / 3 / 2 / 4;
    }

    .functions--grid-item:nth-child(3) {
        grid-area: 1 / 4 / 2 / 5;
    }

    .functions--grid-item:nth-child(4) {
        grid-area: 2 / 3 / 3 / 4;
    }

    .functions--grid-item:nth-child(5) {
        grid-area: 2 / 4 / 3 / 5;
    }

    #otherOsBtn {
        display: none;
    }
}

@media (max-width: 1366px) {

    .guides,
    .solutions {
        overflow: hidden;
    }

    .functions--grid .swiper-wrapper {
        width: calc(100% - 4rem);
    }

    .functions--grid-item-content-image {
        right: -10%;
    }

    .guides--content-green,
    .guides--content-orange,
    .guides--content-blue {
        max-width: 100%;
        padding-right: 50%;
    }

    .guides--text {
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1366px) {
    .appgrid {
        padding: 40vw 0 5vw;
    }

    .guides--image,
    .solutions--image {
        max-width: 40%;
        right: 0;
        height: fit-content;
        top: 40px;
        transform: translateY(0%);
    }
}

@media (max-width: 968px) {
    .menu-mobile.active {
        display: flex;
        position: absolute;
        top: 123px;
        background: var(--light-gray);
        left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 74px);
        padding: 35px 28px;
    }

    #iOsBtn,
    #androidBtn {
        display: none;
    }

    .menu {
        display: none;
    }

    .functions--grid {
        display: flex;
        padding: 0;
        width: 100%;
        overflow: hidden;
        padding-bottom: 32px;
    }

    .functions--grid .swiper-wrapper {
        align-items: center;
    }

    .functions--grid-item-head-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .functions--grid-item {
        max-height: 200px;
        overflow: hidden;
    }

    .functions--grid-item:not(.swiper-slide-active) {
        opacity: 0.5;
    }

    .functions--grid-item.swiper-slide-active {
        min-width: 288px;
        max-height: fit-content;
    }

    .functions--grid-item-content-image {
        display: none;
    }

    .favorites--columns {
        flex-direction: column;
        padding: 0 24px 3rem;
    }

    .comparison--table {
        padding: 0 24px;
    }
}

@media (max-width: 768px) {
    .menu-mobile.active {
        top: 74px;
    }

    .navigation {
        padding: 0.5rem 0.813rem;
    }

    .appgrid {
        padding: 60vw 0 5vw;
        overflow: hidden;
    }

    .appgrid img {
        transform: translate(-50%, -50%) scale(1.4);
    }

    .logos .columns {
        padding: 2rem 1.625rem;
    }

    .guides--content-blue {
        width: 100%;
        max-width: 100%;
        padding: 17px 24px 24px 24px;
    }

    .guides--content-green {
        width: 100%;
        max-width: 100%;
        padding: 17px 24px 24px 24px;
    }

    .guides--content-orange {
        width: 100%;
        max-width: 100%;
        padding: 17px 24px 24px 24px;
    }

    .guides--content-blue .btn-collapsed {
        padding: 12px 30px;
        margin: 40vw 0 0 auto;
    }

    .guides--content-green .btn-collapsed {
        padding: 12px 30px;
        margin: 0 0 50vw 0;
    }

    .guides--content-orange .btn-collapsed {
        padding: 12px 30px;
        margin: 40vw 0 0 auto;
    }

    .guides--image {
        position: relative;
        top: 0;
        width: calc(100% - 230px);
        min-width: 180px;
        left: 24px;
        margin-top: -50%;
    }

    .guide-green .guides--image {
        position: relative;
        top: 0;
        width: 100%;
        max-width: calc(100% - 48px);
        left: 24px;
        margin-top: -50%;
    }

    .solutions--image {
        position: relative;
        top: 0;
        width: calc(100% - 230px);
        min-width: 180px;
        left: 24px;
        margin-top: -50%;
    }

    .solutions--image img {
        object-position: center;
    }

    .guide-green .guides--text {
        padding: 20px 24px;
    }

    .guides--text {
        width: 100%;
        max-width: 100%;
        padding: 20px 24px;
        text-align: center;
    }

    .favorites--head {
        padding: 0 24px;
    }

    .favorites--columns-item-content {
        margin-right: 10px;
    }

    .favorites--columns-item-image {
        width: 64px;
        min-width: 64px;
        height: 64px;
    }

    .comparison--head {
        padding: 0 24px;
    }

    table {
        margin: 0;
        padding: 0;
    }

    table thead tr {
        display: flex;
    }

    table,
    thead,
    tbody {
        display: block;
    }

    table tbody td:nth-child(2),
    table tbody td:nth-child(3) {
        text-align: center;
    }

    table tbody td .icon-check {
        display: block;
        margin: 0 auto 10px;
    }

    table tbody td:nth-child(2),
    table tbody td:nth-child(3) {
        font-size: 0;
    }

    table thead th:nth-child(1),
    table tbody td:nth-child(1) {
        width: 60%;
    }

    table thead th:nth-child(2),
    table thead th:nth-child(3),
    table tbody td:nth-child(2),
    table tbody td:nth-child(3) {
        padding: 9px 8px;
        width: 20%;
        vertical-align: middle;
    }

    table thead th:first-child {
        vertical-align: bottom;
        font-size: 16px;
        display: flex;
        padding: 8px 1rem;
    }

    table thead th:first-child span {
        align-self: flex-end;
    }

    table thead th:not(:first-child) {
        font-weight: 400;
    }

    table thead th div {
        flex-direction: column;
    }

    table thead th div span {
        text-align: center;
        word-break: break-word;
    }

    table thead th .icon-audio,
    table thead th .icon-marker {
        margin-right: 0;
        margin-bottom: 6px;
    }

    .opinions--grid {
        display: flex;
        flex-wrap: wrap;
    }

    .opinions--item:not(.reverse) {
        margin-left: 24px;
    }

    .opinions--item.reverse {
        margin-right: 24px;
    }

    footer {
        overflow: hidden;
    }
}

@media (max-width: 560px) {

    .columns .col:nth-child(2),
    .columns .col:nth-child(3) {
        display: none;
    }
}