html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset styles */
a,
button,
.pointer {
    cursor: pointer;
}

body {
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --primary: #fff;
    --secondary: #00ff00;
    --black: #000;
    --white: #fff;
    --gray: #A2A2A2;
    --light-gray: #F2F2F2;
}

* {
    transition: all 0.3s;

}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.p2 {
    padding: 2rem;
}

.px6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py2 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

header {
    background-color: var(--black);
    color: #fff;
}

.navigation,
.menu,
.navbar-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    padding: 2rem;
}

nav a {
    position: relative;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--gray);
    transition: width 0.3s;
    position: absolute;
    bottom: -10px;
}

nav a:hover:after {
    width: 100%;
}

.container {
    max-width: 1536px;
    margin: 0 auto;
}

.navbar-toggler {
    width: 59px;
    height: 59px;
    padding: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }

}

.menu-mobile:not(.active) {
    display: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-mobile.active {
        display: flex;
        position: absolute;
        top: 112px;
        background: var(--light-gray);
        left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 112px);
    }
}

.navbar-toggler span {
    width: 20px;
    height: 4px;
    background-color: var(--gray);
}

.navbar-toggler span:not(:first-child):not(:last-child) {
    margin: 4px 0;
}

.navbar-toggler.active span:first-child {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    width: 28px;
}

.navbar-toggler.active span:last-child {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    width: 28px;
}

.navbar-toggler.active span:not(:first-child):not(:last-child) {
    display: none;
}